<div class="row">
  <div class="col-md-5">
    <h2>Menu</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let m of menu"
        (click)="selectMenu(m)"
        [class.active]="m === selectedMenu">
        {{m.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewMenu()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <menu-details
      [menu]="selectedMenu"
      [createHandler]="addMenu"
      [updateHandler]="updateMenu"
      [deleteHandler]="deleteMenu">
    </menu-details>
  </div>
</div>